<h4>Nearest Station to Me</h4>
<section class="closest-station">
  <p class="name"><%= station.name %>
  <p class="address"><%= station.address %>
  <p class="fuel-type"><%= station.fuel_type %>
  <p class="access-times"><%= station.access_times %>
</section>
<section class="directions"> 
  <p class="distance">Distance of Nearest Station <%= directions.distance%></p>
  <p class="travel-time">Travel time <%=directions.travel_time %></p>
  <p class="instructions">Instructions <%= directions.directions%></p>
</section>